# redis para ambiente de desenvolvimento
services:
  cache:
    env_file:
      - .env
    image: redis:alpine
    container_name: guarita-redis
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redis_data:/var/lib/redis
      - ./volumes/redis/redis.conf:/usr/local/etc/redis/redis.conf
    deploy:
      resources:
        limits:
          memory: 72M

volumes:
  node_modules_cache:

  redis_data:
