<tr>
    <td style="background-color: #132B55;height:6px;font-size:2px" height="6" background="#132B55">&nbsp;</td>
</tr>
<tr>
    <td align="center">
        <div align="center" style="text-align:center;">
            <br />
            <center>
                <a href="https://avatarsolucoesdigitais.com.br"
                    title="Desenvolvido por AVATAR Solu&ccedil;&otilde;es Digitais" target="_blank"
                    rel="noreferrer noopener" style="border:0;outline:none;">
                    <img src="{{imageVendorURL}}" width="120"
                        style="display:block;max-width:100%;border:0;outline:none;margin: 0 auto;" alt="footer"
                        title="Avatar Solu&ccedil;&otilde;es Digitais" />
                </a>
            </center>
        </div>
    </td>
</tr>
<tr>
    <td style="background-color: #132B55;height:6px;font-size:2px" height="6" background="#132B55">&nbsp;</td>
</tr>
