<tr>
    <td style="background-color:#132B55;height:6px;font-size:2px" height="6px" background="#132B55">&nbsp;</td>
</tr>
<tr>
    <td align="center" style="padding:2px;" height="auto">
        <a href="https://dessistemas.com.br" target="_blank" rel="noreferrer noopener"
            style="color:#132B55;text-decoration:underline;outline:none;">
            <img src="{{imageLogoURL}}" alt="LOGO" title="D&amp;S Sistemas"
                style="display:block; margin:0 auto; max-width:100%;border:0;outline:none;" />
        </a>
    </td>
</tr>
<tr>
    <td style="background-color: #132B55;height:6px;font-size:2px" height="6" background="#132B55">&nbsp;</td>
</tr>